body {
    font-family: "Outfit";
    font-style: normal;
}

.logo {
    font-family: "Outfit";
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
}

.nav-item:hover {
    text-decoration: underline 1px solid black;
    text-underline-offset: 4px;
}

.depan {
    padding-top: 250px;
    padding-bottom: 250px;
}

.depanatas {
    font-family: "Outfit";
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
}

.depanbawah {
    font-size: 20px;
}

.linkfooter {
    text-decoration: none;
}

.linkfooter:hover {
    text-decoration: underline 1px solid black;
    text-underline-offset: 4px;
}

.tulisanfooter {
    font-size: smaller;
    margin: 0;
    padding-top: 0;
    padding-bottom: 20px;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tombol-mulai {
    width: 150px; /* Atur lebar tombol */
    padding: 10px; /* Sesuaikan padding */
    font-size: 14px; /* Sesuaikan ukuran teks */
    text-align: center;
}

.pilihan {
    display: flex;
    flex-wrap: wrap;  /* Tombol akan membungkus jika lebar layar terlalu sempit */
    justify-content: space-evenly;  /* Tombol akan terdistribusi dengan jarak yang merata */
}

.pilihan a {
    flex: 1 1 45%;  /* Tombol akan menempati 45% dari lebar kontainer */
    margin: 5px;  /* Menambahkan jarak antara tombol */
    text-align: center;
}
